*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('../resources/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.logo{
    width: 450px;
    margin-bottom: 30px;
    filter: drop-shadow(2px 2px 20px rgb(0, 0, 0, 0.3));
}
.container{
    background-color: #ffffff;
    width: 70rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1.5rem;
    box-shadow: 0 0 30px rgb(0, 0, 0, 0.3);
}
.color-prin{
    background-color: #16a34a;
    /* border: 0.3rem solid #1B682D; */
    border: none;
}

.btn-jugar{
    background-color: #16a34a;
    border: none;
    padding: 0.4rem 3rem;
    margin-top: 2rem;
    border-radius: 9999px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}
.btn-jugar:hover{
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2);
    background-color: #15803d;
    transform: scale(1.07);
}
.volver{
    margin-top: 1.5rem;
}
.volver a{
    text-decoration: none;
    color: #303030;
    font-weight: 600;
}
@media (max-width: 768px) {
    .container {
        width: 90%;
        height: auto;
        padding: 2rem 1rem;
    }

    .logo {
        width: 80%;
        margin-bottom: 1.5rem;
    }

    .btn-jugar {
        width: 100%;
        font-size: 20px;
        padding: 0.7rem;
        margin-top: 3rem;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 90%;
    }

    .btn-jugar {
        font-size: 18px;
        padding: 0.6rem;
        margin-top: 2rem;
    }
    
    .container p{
        text-align: center;
    }
}

