@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.container .texto{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.05rem;
}
.ping {
    width: 80%;
    padding: 0.4rem 1rem;
    border-radius: 1.5rem;
    font-size: 25px;
    margin-right: 2rem;
    font-weight: bold;
    color: black;
    outline: none;
}

input::placeholder {
    color: #535353;
    font-size: 19px;
    font-weight: 500;
}

.boton {
    padding: 0.2rem 1rem;
    border-radius: 5rem;
    margin-left: 2rem;
    font-size: 30px;
    font-weight: 600;
}

.btn-level {
    width: 220px;
    max-width: 300px;
    padding: 0.8rem 1rem;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2rem;
    text-align: center;
}
.box-nickname{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

input:focus::placeholder {
    color: transparent;
}

.box-niveles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1.3rem;
}

.nombre-jugador {
    display: flex;
    width: 1100px;
    padding-left: 3rem;
    margin-top: -3rem;
    font-family: 'Play', sans-serif;
    font-size: 25px;
    font-weight: bold;
    border-radius: 8px;
    /* z-index: 1000; */
}

.box-niveles .boton {
    width: 15rem;
}

@media (max-width: 1200px) {
    .nombre-jugador{
        width: 1000px;
    }
}
@media (max-width: 991px) {
    .nombre-jugador{
        width: 740px;
    }
}
@media (max-width: 768px) {
    .box-nickname {
        margin-top: 4rem;
        flex-wrap: wrap;
        /* opcional por si falta espacio */
    }
    .ping {
        width: 65%;
        font-size: 22px;
        margin-right: 1rem;
        margin-bottom: 0rem;
    }
    .box-niveles{
        display: flex;
        justify-content: left;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
    }
    .boton {
        margin-left: 0rem;
        font-size: 25px;
        padding: 0.2rem 0.9rem;
    }
    .nombre-jugador {
        font-size: 20px;
        width: 520px;
        padding-left: 1.5rem;
    }
}
@media (max-width: 600px) {
    .nombre-jugador {
        width: 90%;
    }
}
@media (max-width: 480px) {
    input::placeholder {
        font-size: 17px;
    }
}
@media (max-width: 360px) {
    input::placeholder {
        font-size: 14px;
    }
    .box-nickname{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .box-nickname .boton{
        padding: 0 13px;
    }
}