@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.ping {
    width: 60%;
    padding: 0.4rem 1rem;
    border-radius: 1.5rem;
    font-size: 25px;
    margin-right: 2rem;
    font-weight: bold;
    color: black;
    outline: none;
}

input::placeholder {
    color: #111;
}

.boton {
    padding: 0.2rem 1rem;
    border-radius: 5rem;
    margin-left: 2rem;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
}

.btn-level {
    width: 80%;
    max-width: 300px;
    padding: 0.8rem 1rem;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2rem;
    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}

.box-nickname {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.box-niveles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.nombre-jugador {
    display: flex;
    width: 70%;
    padding-left: 3rem;
    /* background-color: white; */
    margin-top: -3rem;
    font-family: 'Play', sans-serif;
    font-size: 25px;
    font-weight: bold;
    border-radius: 8px;
    /* z-index: 1000; */
}

.box-niveles .boton {
    width: 15rem;
   
}

@media (max-width: 768px) {
    .box-nickname {

        margin-top: 4rem;
        flex-wrap: wrap;
        /* opcional por si falta espacio */
    }

    .ping {
        width: 65%;
        font-size: 22px;
        margin-right: 1rem;
        margin-bottom: 0;
    }

    .boton {
        font-size: 20px;
        padding: 0.5rem 2rem;
        margin-left: 0;
    }


    .nombre-jugador {
        font-size: 20px;
        width: 90%;
        padding-left: 1rem;
        padding-top: 1rem;
    }
}